/* genaral styling  */
body{
    font-family: Arial, Helvetica, sans-serif;
    padding:40px;
    background-color: #f5f5f5;
}

/* task 1  */
.card {

width:300px ;
padding: 20px;
margin-bottom: 40px;
background-color: white;
border-radius: 8px;
box-shadow: 0 0 10px blue ;
}

/* task 2  */
.heading  {
    text-shadow: 2px 2px 5px red;
    margin-bottom: 40px;   
}

/* task 3 */
input {
    padding: 10px;
    font-size: 16px ;
    outline:none ;
}

input:focus{
    outline: 5px solid blue;
}