/* task 1  */
body {
    background-color: white;
}

/* Applies only when screen width is below 600px */
@media (max-width: 600px) {
    body {
        background-color: green;
    }
}
/* task 2  */
.sidebar {
    width: 250px;
    background-color: lightgray;
    padding: 20px;
}

/* Hide sidebar on mobile */
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}
/* task 3  */
body {
    background-color: white;
}

p {
    font-size: 16px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: gray;
}


/* Mobile devices */
@media (max-width: 600px) {

    body {
        background-color: green;
    }

    .sidebar {
        display: none;
    }
}


/* Large screens */
@media (min-width: 1200px) {

    p {
        font-size: 24px;
    }

}
